a,
a:visited {
    border: 2px solid #fff;
    color: #fff;
    background-color: #333;
    padding: 4px;
    border-radius: 8px;
    text-decoration: none;
}

a:hover {
    background-color: goldenrod;
}

body {
    background-color: #333;
}
#buttons {
    display: none;
}

#toolbar {
    display: flex;
}
h1 {
    text-align: center; color: #FFFFFF;
}
#sidebar {
    background-color: darkcyan;
 color: #fff;
}

#main {
    width: 100%;
    background-color:darkcyan;
 color: #fff;
}