a,
a:visited {
    border: 2px solid #a09f9f;
    color: #000;
    padding: 4px;
    border-radius: 8px;
    text-decoration: none;
}

a:hover {
    background-color: goldenrod;
}

#buttons {
    display: none;
}

#toolbar {
    display: flex;
}
h1 {
    text-align: center; color: #000;
}
#sidebar {
    background-color: darkcyan;

}

#main {
    width: 100%;
    background-color:darkcyan;
 
}